@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 22, 20, 21;
    --background-end-rgb:14, 14, 14;
  }
}

@font-face {
  font-family: 'Acknowledgement';
  src: url('/fonts/Acknowledgement.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.primary{
  color: rgb(208, 0, 85)
}

.primary-bg{
  background-color: rgb(208, 0, 85)
}

.white{
  color: rgb(239, 241, 237)
}

.black{
  color: rgb(14, 14, 14)
}

.gray-bg{
  background-color: rgb(34, 30, 32);
}
.nav {
  background-color: transparent;
}

.focus\:ring-gradient:focus {
  animation: ring-gradient 0.5s ease-out;
  outline: none;
  box-shadow: 0 0 0 2px rgba(208, 0, 85, 0.5)
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(208, 0, 85);
  border-radius: 10px;
  border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@keyframes ring-gradient {
  0% {
    box-shadow: 0 0 0 0 rgba(208, 0, 85, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(208, 0, 85, 0.5);
  }
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.995);
  }
  100% {
    transform: scale(1);
  }
}

.press-effect {
  animation: press 0.1s ease-in-out;
}

.back-label {
  font-family: 'Acknowledgement', sans-serif;
  color: rgb(239, 241, 237)
}
